.ant-card {
    height: 7.5em;
}

.figure {
    font-size: 3em;
}

.ant-card-body {
    position: relative;
}

.card-desc {
    position: absolute;
    top: 10px;
    left: 66px;
    line-height: 1.3;
}