.card-group::after {
    content: "";
    display: table;
    clear: both;
}

.card-group .ant-card {
    float: left;
    margin-right: 24px;
    margin-bottom: 14px;
    width: 30%;
}

.card-group .ant-card:nth-child(3n) {
    margin-right: 0;
}