.nav-item {
    margin: 5px;
}

button.avatar {
    position: relative;
}

button.avatar span.ant-avatar-image {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    position: absolute;
    top: -5px;
    left: -5px;
}