.quick-side-wrapper {
    padding: 24px;
}

.user-profile {
    text-align: center;
    padding: 10px;
}

.quick-side-wrapper .user-profile .user-name {
    margin-bottom: 0.2em;
}

.user-actions {
    text-align: right;
}

.user-actions button {
    margin-left: 10px;
}

.quick-side-wrapper .user-profile .ant-badge-dot  {
    top: 96px;
    right: 11px;
}